.nav{
  background: #f2f;
  height: 2em;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 1em;
}
.row{
  font-size: 1.5em;
  font-weight: 700;
}
.c1{
  background: #705F9E;
  height: 400px;
}
.c2{
  background: #5F989E;
  height: 200px;
}
.c3{
  background: #EE9786;
  height: 200px;
}

@media screen and (min-width: 48em){
    .c2{
    height: 400px;
  }
}
@media screen and (min-width: 64em){
    .c1,
    .c2,
    .c3{
    height: 600px;
  }
}